<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Return page or smth</title>
</head>

<body>
    <div id="msg" style="
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
        ">

        <!-- DO NOT remove this file from the template folder because it wouldn't work without it for some reason -->

        <!-- If you want to see how it would look like with the message just use this instead:
            "This book isn't the one you borrowed. The book you borrowed was Diary of a Wimpy Kid Copy no. 2" -->

        <!-- Make sure that if you do use that message, you send that file back to me with the thing under these 
            comments is the same -->
        <h1> {{ outmsg }} </h1>
    </div>
</body>

</html>